# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Git Test.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\rydpr\Desktop\Git Test\.idea\.idea.Git Test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
